@import url('./everforest_light_hard.css');
@font-face {
  font-family: RobotoMono;
  src: url('../fonts/RobotoMono-VariableFont_wght.ttf');
}

html {
  height: 100vh;
  width: 100vw;
  background: rgb(225, 221, 203);
  background: radial-gradient(
    circle,
    rgba(225, 221, 203, 1) 0%,
    rgba(255, 249, 232, 1) 50%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18pt;
}

table {
  table-layout: fixed;
}

th {
  color: var(--fg);
  font-style: italic;
  font-size: 30pt;
  text-shadow: 1px 1px 1px black;
}

.space {
  height: 20px;
}

td {
  text-align: center;
}

td:nth-of-type(1) {
  font-family: RobotoMono;
  /* border: 1px solid black; */
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: var(--fg);
  color: var(--bg0);
  border: 5px solid var(--green);
}

td:nth-of-type(2) {
  width: 10px;
}

td:nth-of-type(3) {
  width: min(400px, 50%);
  padding: 0px 10px;
}

span {
  color: var(--red);
  font-weight: bolder;
}

a:visited,
a {
  color: var(--blue);
  text-decoration: none;
}
