<!DOCTYPE html>

<html lang="en">
  <head>
    <title>ShortStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/everforest_light_hard.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Shortcut</th>
          <th></th>
          <th>URL</th>
        </tr>
      </thead>
      {% for item in shortcuts %}
      <tr class="space"></tr>
      <tbody>
        <tr>
          <td>{{ item.prefix }}<span>{{ item.letter }}</span></td>
          <td></td>
          <td>
            <a href="{{ item.url }}">{{ item.url }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
